html{
    height: 1500px;
    
    font-weight: 600;
    
}
body{
   text-align: center; 
   padding-left: 7px;
   padding-right: 10px;
   width: 803px;
   height: 1050px;


}

body{
    border: 3px black solid;
}
#secondimage{
    margin-left: 280px;
    margin-top: 20px;
    margin-right: 20px;
}
section{
    display: flex;
    justify-content: flex-start;
    font-weight: 600;
    line-height: 25px;
    border: 3px black solid;
    margin: 50px 25px 50px 25px;
    text-align: left;
}
#oneContainer{
    margin-left: 25px;
}
#twoContainer{
    margin-left: 70px;
}
main{
    
    margin: 0px 25px;
}
#topnav{
    display: flex;
    justify-content: flex-start;
    
}
#topnav h4{
  
    width: 100px;
}
#topnav article{
    border: 3px solid black;
    height: 320px;
    width: 500px;
}
footer{
    height: 250px;
    width:  750px;
    border: 3px solid black;
    margin: 50px 25px 50px 25px;
}
footer h3{
    text-align: left;
    margin-left: 10px;
}

@page {
    margin: 0px; 
}
